:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*Update this*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/*Hero*/
#hero{
  background:linear-gradient(rgba(0,0,0, 0.507), rgba(0,0,0,0.438)) ,url('/pics/airport.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /*White*/
  text-align: center;
  overflow: hidden;
}

/*Hero h1, h5*/
#hero h1, #hero h5 {
  font-family: 'ClashDisplay-Variable', sans-serif;
  color: white;
}


/*Hero button*/
#hero-button {
  background-color: white;
  border-color: white;
  font-weight: 500;
  font-size: 24px;
  border-radius: 2;
  padding: 10px 24px;
  color: black;
}

/*Hero button hover*/
#hero-button:hover {
  background-color: rgb(122, 117, 117);
  border-color: rgb(122, 117, 117);
}

/*About-title*/
#about{
  width: 100vw;
  margin: 0 auto;
  padding: 40px 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}

#about h1, #about h5{
  font-family: 'ClashDisplay-Variable', sans-serif;
  margin: 0;
}

.about-title, .about-line {
  flex: 1;
}

.about-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  
}



.about-photo img {
  width: 100%; 
  max-width: 400px;
  height: auto; 
  border-radius: 5px; 
  
}

.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border: none;
}

/* Icon List */
.icon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.icon-item .icon-container {
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px; 
  height: 125px; 
  border-radius: 10px;
  padding: 0;
}


/*Icon size*/
.icon-item .icon {
  background: #e1cee6; 
  width: 45px; 
  height: 45px;
}

.icon-item div {
  flex: 1;
}

.icon-item h5 {
  margin: 0;
  font-size: 1.5rem;
}

.icon-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

#counter{
  background: linear-gradient(rgba(214, 212, 212, 0.507), rgba(214,212,212,0.438)), url('/pics/worldmap.jpg');
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  
}

/* .iconbox{
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  

} */

/* .iconbox {
  display: inline-flex;
  align-items: center;
  gap: 10px; 
  
  
   
}
.about-line {
  margin-top: 10px; 
}

.iconbox img {
  width: 30px; 
  height: 30px;
  background: #9c9a9a;
}

.iconbox h5 {
  margin: 0;
  font-size: 16px;
}

.iconbox p{
  margin: 0;
  font-size: 14px;
} */
/* @font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Variable.woff') format('woff'),
       url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
} */